body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9acd32;
}

#container {
  text-align: center top;
  font-family: "ArcadeClassic", sans-serif;
  forced-color-adjust: auto;
  font-size: 20px;
}

/* Additional styling for the game elements */
h1 {
  font-size: 35px;
  font-family: "ArcadeClassic", sans-serif;
  color: whitesmoke;
}

#answerInput {
  margin-bottom: 40px;
  border: radius 10px;
  padding: auto;
  font-family: "ArcadeClassic", sans-serif;
}

#submitBtn {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#startButton {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "ArcadeClassic", sans-serif;
  size: 100px;
}

#score {
  margin-top: 20px;
}

img {
  margin: 0;
  margin-top: auto;
  padding: auto;
  height: 500px;
}

.hidden {
  display: none;
}

#welcomeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
